<div class="row">

  <div class="col-lg-3">
    <h4>Browse</h4>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="">Bags</a></li>
      <li><a href="">Accessories</a></li>
    </ul>
  </div>

  <div class="products col-lg-9">
    
    <% 10.times do |i| %>
      <div class="product col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="#">
            <img src="http://placekitten.com/g/300/200?i=<%= i %>" alt="" class="img-responsive" />
          </a>
          <div class="caption">
            <h5>
              <div class="pull-right">$100</div>
              Cat for Sale
            </h5>
            <p><a href="#" class="btn btn-sm btn-success">Add to Cart</a></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
