// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: #E2ECE2;
  padding: 80px 0 70px 0;
  h1 {
    font-weight: 300; 
  }
  p {
    font-weight: 100;
  }
}

.nav-pills {
  li.active {
    a {
      &:focus {
        background: #E2ECE2;
      }
    }
  }
}
