<div class="product col-sm-6 col-md-4">
  <div class="thumbnail">
    <a href="#">
      <img src="http://placekitten.com/g/300/200?i=<%= i %>" alt="" class="img-responsive" />
    </a>
    <div class="caption">
      <h5>
        <div class="pull-right">$100</div>
        Cat for Sale
      </h5>
      <p><a href="#" class="btn btn-sm btn-success">Add to Cart</a></p>
    </div>
  </div>
</div>

